body {
    background-color: powderblue;
  }
  h1 {
    color: rgb(26, 22, 144);
  }
  p {
    color: red;
  }
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }